/* Setup */
@import './setup/cssreset.css';
@import './setup/vars.css';
@import './setup/font-face.css';

/* Basic */
@import './basic/base.css';
@import './basic/buttons.css';
@import './basic/helpers.css';
@import './basic/layout.css';

/* components */
@import './cmps/header.css';
@import './cmps/main-content.css';
@import './cmps/editor.css';
@import './cmps/footer.css';


/* media queries */
@media screen and (min-width: 518px) {
    .canvas-container {
        width: initial;
        height: fit-content;
    }

    .add-sticker .sticker {
        font-size: 3rem;
    }
}

@media screen and (min-width: 968px) {
    .about-container div {
        flex-direction: row;
    }
    
    .about-container .about-text {
        padding: 0 2em;
    }
    
    .about-container .profile-img {
        min-width: 320px;
        height: 320px;
    }

    .filter-container div {
        flex-direction: row;
    }

    .editor-container {
        background-color: var(--body-bgc);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto-fit 1fr;
        padding: 1.375rem 0;
        transform: translateX(100%);
        transition: transform 0.2s ease-in-out;
        pointer-events: none;
    }

    .toolbox-container .option img {
        width: 70%;
    }

    section.editor-container {
        height: fit-content;
    }

    .search-input {
        text-align: left;
    }

    body.editor-open .main-footer {
        position: relative;
        transform: translateY(40%);
    }
}