/* CSS reset */
@import './setup/cssreset.css';

/* vars */
:root {
    --primary-bgc: #ff7f00;
    --body-bgc: #e3e3e3;
    --primary-color: #ffffff;
}

/* setup */

/* font faces */

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/montserrat/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat-thin";
    src: url("/fonts/montserrat/Montserrat-Thin.ttf");
}

/* basics */
html {
    font-size: 19px;
}


body {
    min-height: 100vh;
    background-color: var(--body-bgc);
    font-family: Montserrat, sans-serif;
}

.container {
    overflow-x: hidden;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

small {
    display: block;
}

.main-header, .main-footer {
    background-color: var(--primary-bgc);
    color: var(--primary-color);
}

.main-content {
    position: relative;
}

/* layouts */
.main-layout > *:not(.full) {
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
}

/* components */
.card {
    cursor: pointer;
}

.main-nav a {
    display: block;
    padding: 1.25em 1em;
    color: var(--primary-color);
    text-decoration: none;
}

.editor-container {
    background-color: var(--body-bgc);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto-fit 1fr;
    padding: 1.375rem 0;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    pointer-events: none;
}

body.editor-open .editor-container {
    transform: translateX(0);
    pointer-events: all;
}

.gallery-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1em;
    justify-content: center;
    align-content: center;
}

.card {
    max-width: fit-content;
}

.toolbox-container .option {
    width: 60px;
    height: 60px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.toolbox-container .option img {
    width: 70%;
}

.toolbox-container .select-color input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

/* flex helpers */
.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.align-center {
    align-items: center;
}

.flex.space-between {
    justify-content: space-between;
}

/* grid helpers */
.grid {
    display: grid;
}

/* list helpers */
.clean-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}