/* flex helpers */
.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.align-center {
    align-items: center;
}

.flex.justify-center {
    justify-content: center;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.space-around {
    justify-content: space-around;
}

/* grid helpers */
.grid {
    display: grid;
}

/* list helpers */
.clean-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}